* text=auto
# Set All Files EOL CRLF
.gitignore eol=crlf
.gitattributes eol=crlf
Ignore/README.md eol=crlf
# Set All Files Vendored False
.gitignore linguist-vendored=false
.gitattributes linguist-vendored=false
Ignore/README.md linguist-vendored=false
# Set All Files Detected True
.gitignore linguist-detected=true
.gitattributes linguist-detected=true
Ignore/README.md linguist-detected=true
# Set Files Language
.gitignore linguist-language=Git-Config
.gitattributes linguist-language=Git-Attributes
Ignore/README.md linguist-language=Markdown
